@import url('res/futurastd-medium.css');

html {
	color: #fff;
}

#wrap {
	max-width: 550px;
	margin-top: 6%;
	margin-left: auto;
	margin-right: auto;
	background-color: #242730;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    color: #fff;
	font-size: 0.85em;
}

table {
	text-align: left;
}

th, td {
	padding: 0 15px;
}

td {
	padding-top: 5px;
	padding-bottom:  5px;
}

tr:nth-child(even) {
	background: #2b2e39;
}

th {
	padding-top: 10px;
	height: 40px;
}

tr th:nth-child(1),
tr td:nth-child(1) {
	text-align: center;
}

tr th:nth-last-child(1),
tr td:nth-last-child(1) {
	max-width: 15px;
	text-align: center;
}

tr {
	font-size: 120%;
	font-family: 'Segoe UI';
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);*/
}

tr.heading {
    background-color: #308bcd;
    color: #fff;
}
