$greyfeher: rgb(220, 220, 220);
$orange: rgb(255, 123, 0);
$textsh: 0.1vw 0.1vw 0.25vw black;
$boxshadowing: 0vw 0vw 1vw rgba(255, 255, 255, 0.85);
$boxshadowingsmall: 0vw 0vw 0.5vw rgba(255, 255, 255, 0.85);
$textstroke: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
$cryptobg: rgba(20, 20, 20, 1);
$chartbg: rgba(0, 200, 27, 0.05);

.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: rgb(22, 22, 22);
    color: white;
    border-radius: 0.15vw;
    padding: 0.25vw 0.7vw;
    font-size: 0.75vw;
    text-align: center;
    max-width: 10vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.15);
    word-break: break-all;
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
  }

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
  }
}

.cryptomarket-parent {
  position: absolute;
  width: 65%;
  height: 75%;
  background: $cryptobg;
  font-family: majestic !important;
  text-shadow: $textstroke;

  .cryptomarket-menu {
    position: relative;
    width: 100%;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $greyfeher;
    border-bottom: 0.1vw solid grey;

    .crypomarket-my-wallet {
      display: flex;
      position: absolute;
      right: 3%;
      justify-content: center;
      align-items: center;
      font-size: 0.925vw;

      .crypto-usd-icon {
        height: 1.25vw;
        width: 1.25vw;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("https://s2.coinmarketcap.com/static/cloud/img/fiat-flags/USD.svg");
        margin: 0 0.5vw;
      }
    }

    .crypto-menu-entry {
      position: relative;
      font-size: 0.95vw;
      font-variant: small-caps;
      padding: 0.1vw 1vw;
      transition: ease();
      transition-duration: 0.1s;
      border-bottom: 0.05vw solid transparent;

      &.active {
        border-bottom: 0.05vw solid rgb(125, 132, 195);
      }

      &:not(.active) {
        &:hover {
          color: rgb(176, 190, 204);
          border-bottom: 0.05vw solid white;
        }
      }
    }
  }

  .cryptomarket-header {
    position: relative;
    width: 100%;
    height: 8%;
    background: rgb(54, 106, 155);
    font-size: 1.8vw;
    display: flex;
    align-items: center;
    text-indent: 1vw;
    font-variant: small-caps;
    font-weight: bold;
    color: white;
  }

  .cryptomarket-payments-parent {
    position: relative;
    width: 100%;
    max-height: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    padding: 1vw 0;
    color: $greyfeher;

    .cryptomarket-payments-text {
      position: relative;
      width: 100%;
      text-align: center;
      font-size: 0.9vw;
      color: $greyfeher;
      text-shadow: none;
    }

    .payments-table {
      text-align: left;
      text-shadow: none;
      font-family: majestic;
      border: 0.1vw solid rgba(128, 128, 128, 0.25);
      border-radius: 0.25vw;
      position: relative;
      width: 80%;
      table-layout: fixed;
      margin-top: 1vw;

      th {
        color: rgb(180, 180, 180);
        font-size: 0.75vw;
        border-bottom: 0.1vw solid rgb(45, 114, 146);
        padding: 0.5vw;
      }
      tr {
        &:nth-child(even) {
          background: rgba(63, 63, 63, 0.35);
        }
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      td {
        color: rgb(150, 150, 150);
        font-size: 0.8vw;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.25vw 0.5vw;
      }
    }

    .cryptomarket-payments-header {
      position: relative;
      font-size: 2vw;
      width: 90%;
      font-variant: small-caps;
      margin-top: 1.5vw;

      &:first-child {
        margin-top: 0;
      }
    }

    .cryptomarket-account-block {
      position: relative;
      border: 0.1vw solid rgba(128, 128, 128, 0.25);
      border-radius: 0.5vw;
      padding: 0.5vw;
      margin-top: 0.5vw;
      margin-left: 0.25vw;
      margin-right: 0.25vw;
      width: 40%;

      select {
        background-color: transparent;
        border: 0.1vw solid rgba(128, 128, 128, 0.25);
        border-radius: 0.25vw;
        width: 100%;
        height: 3vw;
        color: $greyfeher;
        font-size: 1.5vw;
        font-family: majestic;
        margin-bottom: 1vw;

        option {
          background-color: rgb(25, 25, 25);
          color: $greyfeher;
          font-size: 0.9vw;
          font-family: majestic;
          border-radius: 0.25vw;
          outline: 0;
          transition: ease();
          transition-duration: 0.45s;

          &:hover {
            background-color: rgb(0, 174, 255);
          }
        }

        &:focus {
          outline: 0;
        }
      }

      &:first-child {
        margin-top: 0;
      }

      .cryptomarket-account-header {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 1vw;
      }

      .cryptomarket-account-input {
        position: relative;
        width: 100%;
        background: rgba(0, 0, 0, 0.25);
        outline: 0;
        border: 0;
        color: $greyfeher;
        font-family: majestic;
        font-size: 2vw;
        text-align: center;
        border-radius: 0.25vw;
        margin: 0.5vw 0;
        padding: 0.55vw 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          color: red;
          appearance: none;
        }
      }

      .cryptomarket-account-text {
        position: relative;
        width: 100%;
        font-size: 0.85vw;
        text-align: center;
        word-break: break-all;
        margin: 1.25vw 0;
      }

      .cryptomarket-account-button {
        position: relative;
        width: 100%;
        height: 2vw;
        background: rgb(21, 59, 88);
        font-size: 1.15vw;
        font-variant: small-caps;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.25vw 0;
        border-radius: 0.15vw;
        transition: ease();
        transition-duration: 0.1s;

        &:hover {
          background: lighten(rgb(21, 59, 88), 20%);
        }
      }
    }
  }

  .cryptomarket-account-parent {
    position: relative;
    width: 100%;
    max-height: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    padding: 1vw 0;
    color: $greyfeher;

    .cryptomarket-mycrypto-entry {
      position: relative;
      width: 11vw;
      height: 4vw;
      //   background: rgb(18, 51, 66);
      border: 0.15vw dotted rgb(98, 98, 98);
      border-radius: 0.5vw;
      margin: 0.5vw;
      padding: 0.6vw;
      display: flex;
      justify-content: center;
      align-items: center;

      .crypto-amount {
        position: absolute;
        font-size: 1.3vw;
        left: 40%;
        bottom: 20%;
        max-width: 50%;
        background: rgba(0, 0, 0, 0.15);
        padding: 0.1vw 0.5vw;
        border-radius: 0.25vw;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .crypto-name {
        position: absolute;
        top: 10%;
        left: 40%;
        max-width: 50%;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.9vw;
        background: rgba(0, 0, 0, 0.45);
        padding: 0.1vw 0.5vw;
        border-radius: 0.25vw;
      }
      .crypto-icon {
        position: absolute;
        left: 5%;
        height: 3.5vw;
        width: 3.5vw;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .cryptomarket-account-block {
      position: relative;
      border: 0.1vw solid rgba(128, 128, 128, 0.25);
      border-radius: 0.5vw;
      padding: 0.5vw;
      margin-top: 0.5vw;
      margin-left: 0.25vw;
      margin-right: 0.25vw;

      &:first-child {
        margin-top: 0;
      }

      .cryptomarket-account-header {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 1vw;
      }

      .cryptomarket-account-input {
        position: relative;
        width: 100%;
        background: rgba(0, 0, 0, 0.25);
        outline: 0;
        border: 0;
        color: $greyfeher;
        font-family: majestic;
        font-size: 2.5vw;
        text-align: center;
        border-radius: 0.25vw;
        margin: 0.5vw 0;
        padding: 0.55vw 0;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          color: red;
          appearance: none;
        }
      }

      .cryptomarket-account-text {
        position: relative;
        width: 100%;
        font-size: 0.85vw;
        text-align: center;
        margin: 0.25vw 0 0.7vw 0;
      }

      .cryptomarket-account-button {
        position: relative;
        width: 100%;
        height: 2vw;
        background: rgb(21, 59, 88);
        font-size: 1.15vw;
        font-variant: small-caps;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.25vw 0;
        border-radius: 0.15vw;
        transition: ease();
        transition-duration: 0.1s;

        &:hover {
          background: lighten(rgb(21, 59, 88), 20%);
        }
      }
    }

    .cryptomarket-account-header {
      position: relative;
      font-size: 2vw;
      width: 90%;
      font-variant: small-caps;
      margin-top: 1.5vw;

      &:first-child {
        margin-top: 0;
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(0, 174, 255) !important;
    }
  }

  .cryptomarket-selected-parent {
    position: relative;
    width: 100%;
    height: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    padding: 1vw 0;
    color: $greyfeher;

    &::-webkit-scrollbar-thumb {
      background-color: rgb(0, 174, 255) !important;
    }

    .cryptomarket-selected-transactions {
      position: absolute;
      top: 100%;
      left: 3%;
      width: 90%;
      max-height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .transactions-header {
        position: relative;
        top: 10%;
        font-size: 2vw;
        width: 100%;
        font-variant: small-caps;
        margin-bottom: 1.5vw;
      }

      .transactions-table {
        text-align: left;
        text-shadow: none;
        font-family: majestic;
        border: 0.1vw solid rgba(128, 128, 128, 0.25);
        border-radius: 0.25vw;
        position: relative;
        width: 100%;
        table-layout: fixed;

        th {
          color: rgb(180, 180, 180);
          font-size: 0.75vw;
          border-bottom: 0.1vw solid rgb(45, 114, 146);
          padding: 0.5vw;
        }
        tr {
          &:nth-child(even) {
            background: rgba(63, 63, 63, 0.35);
          }
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        td {
          color: rgb(150, 150, 150);
          font-size: 0.8vw;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0.25vw 0.5vw;
        }
      }
    }

    .cryptomarket-selected-left {
      position: absolute;
      left: 3%;
      top: 20%;
      height: 75%;
      width: 65%;
      border: 0.1vw solid rgba(128, 128, 128, 0.25);
      border-radius: 0.5vw;

      .cryptomarket-selected-price {
        position: absolute;
        top: 5%;
        left: 5%;
        color: $greyfeher;
        font-size: 1.6vw;
        display: flex;
        align-items: center;

        b {
          font-size: 2.5vw;
          margin: 0 0.55vw;
        }
        i {
          font-style: normal;
          font-size: 1vw;
          margin: 0 0.25vw;
        }
      }

      .cryptomarket-data-chart {
        position: relative;
        width: 90%;
        height: 75%;
        border-radius: 0.25vw;
        top: 20%;
        left: 4%;
      }
    }

    .cryptomarket-selected-right {
      position: absolute;
      right: 3%;
      top: 10%;
      height: 85%;
      width: 25%;

      .cryptomarket-right-block {
        position: relative;
        border: 0.1vw solid rgba(128, 128, 128, 0.25);
        border-radius: 0.5vw;
        padding: 0.5vw;
        margin-top: 0.5vw;
        &:first-child {
          margin-top: 0;
        }

        .cryptomarket-right-header {
          position: relative;
          width: 100%;
          text-align: center;
          font-size: 1vw;
        }

        .cryptomarket-right-input {
          position: relative;
          width: 100%;
          background: rgba(0, 0, 0, 0.25);
          outline: 0;
          border: 0;
          color: $greyfeher;
          font-family: majestic;
          font-size: 2.5vw;
          text-align: center;
          border-radius: 0.25vw;
          margin: 0.5vw 0;
          padding: 0.55vw 0;

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            color: red;
            appearance: none;
          }
        }

        .cryptomarket-right-text {
          position: relative;
          width: 100%;
          font-size: 0.85vw;
          text-align: center;
          margin: 0.25vw 0 0.7vw 0;
        }

        .cryptomarket-right-button {
          position: relative;
          width: 100%;
          height: 2vw;
          background: rgb(21, 59, 88);
          font-size: 1.15vw;
          font-variant: small-caps;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0.25vw 0;
          border-radius: 0.15vw;
          transition: ease();
          transition-duration: 0.1s;

          &:hover {
            background: lighten(rgb(21, 59, 88), 20%);
          }
        }
      }
    }

    .cryptomarket-selected-name {
      position: absolute;
      top: 3%;
      left: 3%;
      font-size: 3vw;
      font-variant: small-caps;
    }
  }

  .cryptomarket-homepage-parent {
    position: relative;
    width: 100%;
    height: 77.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    padding: 1vw 0;

    &::-webkit-scrollbar-thumb {
      background-color: rgb(0, 174, 255) !important;
    }

    .cryptomarket-table {
      position: relative;

      table {
        color: $greyfeher;
        text-align: center;
        height: 100%;

        .crypto-table-image {
          position: relative;
          width: 1vw;
          height: 1vw;
          background: red;
        }

        th {
          font-size: 1vw;
          font-variant: small-caps;
          border-bottom: 0.1vw solid rgb(45, 114, 146);
          padding: 0 1vw;
          font-weight: normal;
          transition: ease();
          transition-duration: 0.1s;

          &:not(.unhover) {
            &:hover {
              background: rgb(45, 114, 166);
            }
          }
        }

        tr {
          &:nth-child(even) {
            background: rgba(63, 63, 63, 0.35);
          }
          transition: ease();
          transition-duration: 0.1s;

          &:not(.unhover) {
            &:hover {
              box-shadow: 0vw 0.2vw 0.1vw rgba(0, 0, 0, 0.35);
              background: rgb(21, 59, 88);
            }
          }
        }

        td {
          font-size: 0.95vw;
          padding: 0.5vw 0.3vw;
          vertical-align: middle;
        }
      }
    }

    .cryptomarket-doboz-small {
      position: relative;
      width: 18vw;
      height: 8vw;
      background: rgb(45, 114, 146);
      border-radius: 0.5vw;
      margin: 1.5vw 0.85vw;
      padding: 0.6vw;

      .crypto-small-child {
        position: relative;
        margin-top: 0.5vw;
        height: 80%;
        overflow: auto;

        .crypto-small-entry {
          position: relative;
          color: $greyfeher;
          background: rgba(0, 0, 0, 0.2);
          margin: 0.15vw;
          border-radius: 0.2vw;
          font-size: 0.9vw;
          padding: 0.25vw;
          height: 1.1vw;
          display: flex;
          justify-content: center;
          align-items: center;

          .crypto-entry-name {
            position: absolute;
            left: 3%;
            width: 65%;
            display: flex;
            align-items: center;

            .crypto-smallname {
              margin-left: 0.25vw;
              color: rgb(170, 170, 170);
              font-style: normal;
              font-size: 0.7vw;
            }
          }

          .crypto-entry-inc {
            position: absolute;
            right: 5%;
            font-size: 0.7vw;

            &.green {
              color: lightgreen;
            }
            &.red {
              color: red;
            }
          }
        }
      }

      .crypto-small-header {
        position: relative;
        font-size: 1vw;
        color: $greyfeher;
        font-variant: small-caps;
        font-weight: bold;
      }
    }

    .cryptomarket-button {
      position: absolute;
      color: $greyfeher;
      background: rgb(0, 100, 255);
      display: flex;
      justify-content: center;
      align-items: center;

      &.buy {
        bottom: 5%;
        right: 30%;
        padding: 0.25vw 2.5vw;
        font-size: 2.35vw;
      }
      &.sell {
        bottom: 5%;
        left: 30%;
        padding: 0.25vw 2.5vw;
        font-size: 2.35vw;
      }
    }
  }
}
