<html>
	<head>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link href="css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>

		<main id="app">

			<section>
				<!-- User input box -->
				<div id="inputBox" class="w3-modal" v-if="inputBox.show">
					<div class="w3-modal-content" style="background: transparent;">
						<div class="w3-container" style="width: 100%; text-align: center; padding: 0 auto;">
							<form v-on:submit.prevent="continueInventoryMove(true)">
								<input type="number" name="quantity" placeholder="Enter quantity to move..." v-model="inputBox.value" min="1">
								<button type="button" name="submit" @click="continueInventoryMove(true)">Move</button>
							</form>
						</div>
					</div>
				</div>

				<!-- Main menu -->
				<div class="w3-display-container w3-display-middle" v-if="currentPage === 'Home'">
					<div v-if="targetVehiclePlate !== null" @click="showVehicleActions()" class="menu-item-vertical">
						<p>Vehicle Actions</p>
					</div>
					<div v-for="(item, index) in menuItems" @click="onClick(item)" class="menu-item-vertical">
						<p>{{ item.name }}</p>
					</div>
					<div @click="closeMenu()" class="menu-item-vertical">
						<p>Close</p>
					</div>
				</div>

				<!-- Submenus -->
				<div class="w3-display-container w3-display-middle" v-if="currentPage !== 'Home' && currentPage !== 'Inventory'">
					<div class="menu-item w3-center" v-for="(item, index) in currentSubmenuItems" @click="onSubmenuItemClick(item)">
						<p>{{ item.name }}</p>
					</div>
					<div class="menu-item" @click="back()">
						<p>Back</p>
					</div>
				</div>

				<!-- Inventory Context Menu -->
				<ul id="contextMenu" v-show="contextMenu.showContextMenu" :style="{top: contextMenu.top + 'px', left: contextMenu.left + 'px'}">
					<li @click="contextMenuClicked(event, 'Use')">Use</li>
					<li @click="contextMenuClicked(event, 'Give')">Give to <span v-if="nearestPlayer && nearestPlayer.id && nearestPlayer.id != 0">{{ nearestPlayer.id }}</span><span v-else>no one</span></li>
					<li @click="contextMenuClicked(event, 'Drop')">Drop</li>
					<li v-if="contextMenu.doShowReloadOption" @click="contextMenuClicked(event, 'Reload')">Reload</li>
					<li v-if="contextMenu.doShowUnloadOption" @click="contextMenuClicked(event, 'Unload')">Unload</li>
				</ul>

				<!-- Inventory item hover tooltip -->
				<div id="tooltip" v-show="tooltip.visible && !contextMenu.showContextMenu" :style="{top: tooltip.top + 'px', left: tooltip.left + 'px'}">
					<span>{{ tooltip.text }}</span>
				</div>

				<!-- Inventory -->
				<div class="container center" v-if="currentPage === 'Inventory'">
					<div style="position: relative;">
						<!-- Pimary inventory weight display -->
						<div style="padding: 0.5em; position: absolute; top: -35px; color: lightgray; font-size: 13px; text-align: center;" v-bind:style="invProgBarStyle">
							<div class="inventory-progress-bar" v-bind:style="{height: '20px', width: this.inventoryWeight + '%'}">
								<span>{{this.inventoryWeight}}/100</span>
							</div>
						</div>
						<!-- Secondary inventory weight display -->
						<div v-if="showSecondaryInventory && secondaryInventory.type" style="padding: 0.5em; position: absolute; top: -35px; left: 50%; color: lightgray; font-size: 13px; text-align: center;" v-bind:style="invProgBarStyle">
							<span v-if="secondaryInventory.type == 'vehicle'">
								<div class="inventory-progress-bar" style="height: 20px;" v-bind:style="vehInvProgBarStyle">
									<span>{{this.secondaryInventoryWeight}}/{{this.secondaryInventory.MAX_CAPACITY}}</span>
								</div>
							</span>
							<span v-if="secondaryInventory.type == 'person'">
								<div class="inventory-progress-bar" v-bind:style="{height: '20px', width: this.secondaryInventoryWeight + '%'}">
									<span>{{this.secondaryInventoryWeight}}/100</span>
								</div>
							</span>
						</div>
						<!-- Player Inventory -->
						<div class="inventory-wrap">
							<table>
								<tr class="inventory-row" v-for="i in 5">
									<td class="inventory-item droppable" v-droppable v-for="j in 5" v-bind:id="((5*(i-1)) + (j-1))" data-inventory-type="primary">
										<div v-if="inventory.items[(5*(i-1)) + (j-1)]" @mousedown.right="contextMenu.openMenu((5*(i-1)) + (j-1), inventory.items[(5*(i-1)) + (j-1)], isInVehicle)" @mousedown.left="contextMenu.showContextMenu = false">
											<div class="draggable" v-draggable v-bind:id="((5*(i-1)) + (j-1))" data-inventory-type="primary" title="test" @mouseenter="tooltip.toggle(inventory.items[(5*(i-1)) + (j-1)])" @mouseleave="tooltip.toggle(inventory.items[(5*(i-1)) + (j-1)])" @mousemove="tooltip.updatePosition(event)">
												<header>
													<span class="inventory-item-quantity">{{ inventory.items[(5*(i-1)) + (j-1)].quantity }}</span>
													<span class="inventory-item-weight">W: {{ inventory.items[(5*(i-1)) + (j-1)].weight }}</span>
												</header>
												<section>
													<img v-if="getItemImage(inventory.items[(5*(i-1)) + (j-1)])" v-bind:src="getItemImage(inventory.items[(5*(i-1)) + (j-1)])" v-bind:alt="getItemImage(inventory.items[(5*(i-1)) + (j-1)])">
												</section>
												<footer>
													<div>
														<span :class="{ 'w3-text-red' : isItemIllegal(inventory.items[(5*(i-1)) + (j-1)]) }">{{ inventory.items[(5*(i-1)) + (j-1)].name }}</span>
													</div>
												</footer>
											</div>
										</div>
										<div v-else @mousedown.left="contextMenu.showContextMenu = false">
											<header>
												<span class="inventory-item-quantity" style="background-color: rgba(0,0,0,0)"></span>
												<span class="inventory-item-weight"></span>
											</header>
											<section>
												<div style="height: 70px;"></div>
											</section>
											<footer style="height: 30px !important; padding: 0;">
											</footer>
										</div>
									</td>
								</tr>
							</table>
						</div>
						<!-- Secondary Inventory -->
						<div class="inventory-wrap" v-if="showSecondaryInventory">
							<table>
								<tr class="inventory-row" v-for="i in getSecondaryInventoryRowCount()">
									<td class="inventory-item secondary-inv-slot" v-for="j in 5" v-bind:id="((5*(i-1)) + (j-1))" data-inventory-type="secondary">
										<div v-if="secondaryInventory.items[(5*(i-1)) + (j-1)]">
											<div class="secondary-inv-item" v-bind:id="((5*(i-1)) + (j-1))" data-inventory-type="secondary">
												<header>
													<span class="inventory-item-quantity">{{ secondaryInventory.items[(5*(i-1)) + (j-1)].quantity }}</span>
													<span class="inventory-item-weight">W: {{ secondaryInventory.items[(5*(i-1)) + (j-1)].weight }}</span>
												</header>
												<section>
													<img v-if="getItemImage(secondaryInventory.items[(5*(i-1)) + (j-1)])" v-bind:src="getItemImage(secondaryInventory.items[(5*(i-1)) + (j-1)])" v-bind:alt="getItemImage(secondaryInventory.items[(5*(i-1)) + (j-1)])">
												</section>
												<footer>
													<div>
														<span :class="{ 'w3-text-red' : isItemIllegal(secondaryInventory.items[(5*(i-1)) + (j-1)]) }">{{ secondaryInventory.items[(5*(i-1)) + (j-1)].name }}</span>
													</div>
												</footer>
											</div>
										</div>
										<div v-else>
											<header>
												<span class="inventory-item-quantity" style="background-color: rgba(0,0,0,0)"></span>
												<span class="inventory-item-weight"></span>
											</header>
											<section>
												<div style="height: 70px;"></div>
											</section>
											<footer style="height: 30 !important; padding: 0;">
												<div>
													<span></span>
												</div>
											</footer>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</section>
	
			<section id="hud">
				<!-- Selected Item Preview -->
				<div id="selected-item-preview" v-show="selectedItemPreview.visible">
					<img v-bind:src="selectedItemPreview.src">
					<div class="w3-padding-16">
						<span v-show="selectedItemPreview.showOutOfAmmoText" class="w3-text-red">Out of ammo</span>
					</div>
				</div>
			</section>

		</main>

		<!-- JS -->
		<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
		<script src="js/jquery-ui.min.js" type="text/javascript"></script>
		<script src="js/FitText.min.js" type="text/javascript"></script>
		<script src="js/vue.min.js" type="text/javascript"></script>
		<script src="js/script.js" type="text/javascript"></script>

	</body>
</html>