cache/
resources/essentialmode/sv_es-DB-config.lua
resources/assets
resources/unmarked-police-pack
resources/police-bmw-bike
resources/policeveh
resources/nw_bahamaMama
resources/eup-stream
resources/burgershot
resources/koil-debug
resources/eup-ui
resources/paletopd
server2.cfg
gitpull.bat
CitizenFX.log
scramble.log
start2.bat

node_modules
scrambled_resources

server_internal.cfg