cache/
resources/essentialmode/sv_es-DB-config.lua
resources/assets
resources/unmarked-police-pack
resources/nw_bahamaMama
resources/nw_comedyClub
resources/eup-stream
resources/burgershot
resources/koil-debug
resources/eup-ui
resources/paletopd
server2.cfg
gitpull.bat
CitizenFX.log

node_modules
scrambled_resources

server_internal.cfg