cache/
resources/essentialmode/sv_es-DB-config.lua
resources/scrambler-events.json
resources/assets/stream
resources/unmarked-police-pack
resources/police-bmw-bike
resources/policeveh
resources/nw_bahamaMama
resources/\[custom_clothing\]
resources/burgershot
resources/koil-debug
resources/eup-ui
resources/paletopd
resources/\[cassino\]
resources/RES_Anticheat/events.lua
resources [UNSCRAMBLED]
server2.cfg
gitpull.bat
CitizenFX.log
scramble.log
start2.bat
setup.sh

node_modules
scrambled_resources
toTransfer

server_internal.cfg
server_internal2.cfg

scramblerServerPass.txt
