html, body {
    height: 100%;
    margin: 0;
	overflow: hidden;
}

p {
    margin: 0 auto;
    text-align: center;
    font-family: "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji",  Arial, sans-serif;
}

#container {
    min-height: 100%;
}

#speedcontainer {
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(0, 0, 0, 0.1);
	padding: 0 25px;
    position: absolute;
    bottom: 15px;
    right: -5px;
}

p {
	display: inline-block;
	margin-top: -10px;
}

.speedtext {
    color: #fff;
    font-size: 60px;
	text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

.speedkmh {
	padding-right: 5px;
    color: #F0C850;
    font-size: 30px;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}
