@import url('https://fonts.googleapis.com/css?family=Roboto');

#cursor {
	position: absolute;
	z-index: 999999;
	display: block;
}

body {
	margin: 0 auto;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	display: none;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
	color: #fff;
	width: 50vw;
}

.container {
	background: #242730;
	max-width: 100%;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.header {
	background: #308bcd;
	padding: 10px 15px;
	min-width: 625px;
}

.header h1 {
	margin: 0;
	font-size: 1.25rem;
	color: #fff;
	text-align: center;
	font-weight: normal;
}

.notification {
	color: #fff;
	background: #903838;
	padding: 10px;
	text-align: center;
}

.section {
	display: flex;
}

.section.characters {
	padding: 0.5em 0.5em;
	overflow-x: scroll;
}

.section.characters .character:first-child {
	margin-left: -1px;
}

.section.characters .character {
	min-width: 200px;
	height: 195px;
	border: 2px solid #2b2e39;
	border-radius: 5px;
	text-align: center;
	padding-top: 8px;
	margin-left: 8px;
	display: inline-block;
	overflow-y: hidden;
}

.section.characters .character.selected {
	border-color: #308bcd;
}

.section.characters .character span {
	color: #2f8135
}

.section.characters .character .new {
	font-size: 7rem;
	margin: 0;
	color: #2b2e39
}

.section.characters .character h3:first-child {
	padding-top: 8px;
}

.section.characters .character h3 {
	margin: 0;
	color: #6b7186;
	font-size: 0.9rem;
	text-align: left;
	padding: 3px 10px;
}

.section.characters .character h4 {
	margin: 0;
	color: #54596a
}

.section.characters .character b {
	margin: 0;
	color: #36719c;
}

.form-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

#form_wrap {
	width: 100%;
}

label {
	padding-left: 10px;
	min-width: 125px;
}

input[type=text],
input[type=date] {
	flex: 1;
	flex-grow: 1;
	color: #fff;
	background: #363a48;
	border: 1px solid #2b2e39;
	padding: 10px;
	outline: 0;
	width: auto;
}

.spawn-select {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	padding: 2em;
}

.spawn-select .spawn-point {
	display: inline;
	height: 500px;
	/* width: 300px; */
	width: 18em;
	border-radius: 4px;
	padding: 5px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.selected-border {
	border: 2px solid #308bcd;
}

.unselected-border {
	border: 2px solid #ddd;
}

.spawn-select section {
	height: 96%;
	width: 100%;
	padding-top: 1em;
	font-size: 18px;
	font-weight: bold;
	border-radius: 4px;
}

#spawn-point--paleto-bay {
	background-image: url('../img/paleto-bay.jpg');
	background-size: cover;
	background-position: center;
}

#spawn-point--sandy-shores {
	background-image: url('../img/sandy-shores.jpg');
	background-size: cover;
}

#spawn-point--los-santos {
	background-image: url('../img/los-santos.jpg');
	background-size: cover;
	background-position: center;
}

#spawn-point--property {
	background-image: url('../img/alleyway.jpg');
	background-size: cover;
}

#badly-placed-spawn-select-header {
	text-align: center;
	margin-top: 1em;
}

.footer {
	background: #2b2e39;
	padding: 8px 15px;
	text-align: right;
}

.footer button {
	padding: 8px 15px;
	background: #308bcd;
	border: 0;
	color: #fff;
	border-radius: 2px;
	outline: 0;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.01), 0px 2px 10px 0px rgba(0, 0, 0, 0.01);
}

.footer button#delete:not(.disabled) {
	background: #8f3b3b;
}

.footer a[href="http://character-selection/disconnect"] button {
	background: #8f3b3b;
	float: left;
}

.footer a[href="http://character-selection/list"] button {
	background: #242730;
	color: #626777;
	border: 1px solid #3d414e;
	float: left;
}

.footer button.disabled {
	background: #242730;
	color: #626777;
}

.footer button.back {
	background: #8f3b3b;
	float: left;
}

/* CONFIRMATION */
dialog {
	padding: 0;
	border: 0;
	background: #242730;
	max-width: 100%;
	width: 655px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
	height: 290px;
}

dialog[open] {
	-webkit-animation: slide-up 0.4s ease-out;
	animation: slide-up 0.4s ease-out;
}

.modal-header,
.modal-footer {
	padding: 10px 15px;
}

.modal-header {
	background: #308bcd;
	color: #ffffff;
	margin: 0;
	font-size: 1.25rem;
	color: #fff;
	text-align: center;
	font-weight: normal;
}

.modal-body {
	margin: 0;
	color: #fff;
	font-size: 1.1rem;
	text-align: center;
	font-weight: normal;
	margin: 75px 0;
}

.modal-body p,
.modal-body h3 {
	margin: 5px;
	padding: -1;
}

.modal-footer {
	background: #2b2e39;
	padding: 8px 15px;
	text-align: right;
	content: "";
	display: flex;
	justify-content: space-between;
}

.modal-footer button {
	padding: 8px 15px;
	background: #903838;
	border: 0;
	color: #fff;
	border-radius: 2px;
	outline: 0;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.01), 0px 2px 10px 0px rgba(0, 0, 0, 0.01);

}

.modal-footer button#confirm_cancel {
	background: #308bcd;
}

@keyframes slide-up {
	0% {
		opacity: 0;
		-webkit-transform: translate(0, 15px);
		transform: translate(0, 15px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

/* scrollbar */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: #2b2e39;
}

::-webkit-scrollbar-thumb {
	background: #308bcd; 
}

::-webkit-scrollbar-thumb:hover {
	background: #2772a8; 
}