<html>
	<head>
		<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="nui://usa-playerlist-new/html/reset.css">
        <link rel="stylesheet" href="nui://usa-playerlist-new/html/style.css">
	</head>
	<body>
		<div id="app">
			<div id="wrap">
				<div id="list">
					<h2 id="title"><img src="https://i.imgur.com/mUrzSob.png" width="150px"></h2>
					<table v-if="playerData.length > 0" id="ptbl" width="100%">
						<tr class="heading"><th>ID</th><th>Identifier</th></tr>
						<tr v-for="item in playerData" @mouseover="currentHoveredPlayerChar = item.currentCharacter" @mouseleave="currentHoveredPlayerChar = null">
							<td>{{ item.serverId }}</td>
							<td>{{ item.identifier }}</td>
						</tr>
					</table>
					<div v-if="isLoading" id="loading">
						<img src="https://i.imgur.com/02bbcxg.gif" alt="loading">
						<span>Loading...</span>
					</div>
				</div>
				<div id="footer">
					<p v-if="currentHoveredPlayerChar" id="staff-info">{{ currentHoveredPlayerChar.name }} / {{ currentHoveredPlayerChar.job }}</p>
					<p v-if="!currentHoveredPlayerChar">Right click + hover to scroll</p>
				</div>	
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.min.js" type="text/javascript"></script>
		<script src="main.js" type="text/javascript"></script>
	</body>
</html>