<html>
<head>
	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body style="display: none;">
	<div id="app" class="container">
		<div class="header">
			<h1>Welcome to <b>USA Realism RP!</b> -- <span style="font-size: 16px;">https://www.usarrp.net</span></h1>
		</div>
		<div class="notification" v-if="showNotification">{{ notification.msg }}</div>
		<div class="body">
			<div class="section characters dragscroll" v-show="page == 'list'">
				<div class="character" v-for="(character, index) in characters" @click="selectCharacter(index)" v-bind:data-id="character.id" v-bind:class="{selected: selectedCharIndex == index}">
					<h3><b>First Name:</b> {{ character.name.first }}</h3>
					<h3><b>Last Name:</b> {{ character.name.last }}</h3>
					<h3 style="padding-top: 25px"><b>Cash:</b> <span>$</span>{{ character.money | displayMoney }}</h3>
					<h3><b>Bank:</b> <span>$</span>{{ character.bank | displayMoney }}</h3>
					<h3 style="padding-top: 25px;"><b>DOB:</b> {{ character.dateOfBirth }}</h3>
				</div>
				<div class="character" id="new" @click="page = 'create'" v-bind:class="{selected: selectedCharIndex == characters.length}">
					<div class="new">+</div>
					<h4>Create New</h4>
				</div>
			</div>
			<div class="section create" v-if="page == 'create'">
				<div id="form_wrap">
					<div class="form-item">
						<label for="first_name">First Name *</label>
						<input type="text" name="first_name" id="first_name" maxlength="50" />
					</div>
					<div class="form-item">
						<label for="middle_name">Middle Name</label>
						<input type="text" name="middle_name" id="middle_name" maxlength="50" />
					</div>
					<div class="form-item">
						<label for="last_name">Last Name *</label>
						<input type="text" name="last_name" id="last_name" maxlength="50" />
					</div>
					<div class="form-item">
						<label for="dob">Date of Birth *</label>
						<input type="date" name="date_of_birth" id="date_of_birth">
					</div>
				</div>
			</div>
			<header id="badly-placed-spawn-select-header" v-if="page == 'spawn'">Select a spawn point!</header>
			<div class="section spawn-select" v-if="page == 'spawn'">
					<div class="spawn-point" @click='selectSpawn("Paleto Bay")' data-id="Paleto Bay" v-bind:class="{'selected-border': isSpawnCurrentlySelected('Paleto Bay'), 'unselected-border': !isSpawnCurrentlySelected('Paleto Bay')}">
						<section id="spawn-point--paleto-bay">Paleto Bay</section>
					</div>
					<div class="spawn-point" @click='selectSpawn("Sandy Shores")' data-id="Sandy Shores" v-bind:class="{'selected-border': isSpawnCurrentlySelected('Sandy Shores'), 'unselected-border': !isSpawnCurrentlySelected('Sandy Shores')}">
						<section id="spawn-point--sandy-shores">Sandy Shores</section>
					</div>
					<div class="spawn-point" @click='selectSpawn("Los Santos")' data-id="Los Santos" v-bind:class="{'selected-border': isSpawnCurrentlySelected('Los Santos'), 'unselected-border': !isSpawnCurrentlySelected('Los Santos')}">
						<section id="spawn-point--los-santos">Los Santos</section>
					</div>
					<div class="spawn-point" @click='selectSpawn("Property")' data-id="Property" v-bind:class="{'selected-border': isSpawnCurrentlySelected('Property'), 'unselected-border': !isSpawnCurrentlySelected('Property')}">
						<section id="spawn-point--property">Property</section>
					</div>
			</div>
		</div>
		<div class="footer">
			<a href="http://character-selection/list">
				<button class="disconnect" v-if="page == 'create'" @click="page = 'list'; notification.show = false">Back to Characters</button>
			</a>
			<a href="http://character-selection/disconnect">
				<button class="disconnect" v-if="page == 'list'" @click="disconnect">Disconnect</button>
			</a>
			<button id="birth" v-if="page == 'create'" @click="createCharacter">Create Character</button>
			<button id="delete" v-bind:class="{disabled: !selectedCharacter}" v-if="page == 'list' && selectedCharIndex != characters.length" @click="deleteCharacter">Delete Character</button>
			<button id="select" v-bind:class="{disabled: !selectedCharacter}" v-if="page == 'list'" @click="page = 'spawn'">{{ selectButtonText }}</button>
			<button id="spawn-select-back" v-if="page == 'spawn'" @click="page = 'list'">Back</button>
			<button id="go" class="disabled" v-if="page == 'spawn'" @click="spawnCharacter()">Go &#10095;</button>
		</div>
	</div>
	<dialog id="confirm">
		<h3 class="modal-header">Confirm Character Deletion</h3>
		<div class="modal-body">
			<p>Are you sure you want to permanently delete that character?</p>
			<h3><span id="confirm_name">Bert Wierzbowski</span></h3>
		</div>
		<footer class="modal-footer">
			<button id="confirm_cancel" type="button" onclick="cancelDelete()">No! Keep him alive!</button>
			<button id="confirm_delete" type="button" onclick="confirmDelete()">I'm sure. Delete it!</button>
		</footer>
	</dialog>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> vue.js -->
	<script src="js/dragscroll.min.js" type="text/javascript"></script>
	<script src="js/vue.min.js" type="text/javascript"></script>
	<script src="js/script.js" type="text/javascript"></script>
</body>
</html>
