.float-right {
    float: right;
}

body {
    font-family: sans-serif;
    overflow: hidden;
    display: none;
}

#cursor {
    position: absolute;
    z-index: 999999;
    display: none;
}

/* custom */
#phone-wrap {
    padding-top: 20em;
    height: 900px;
    width: 700px;
    background-image: url('../img/samsung-phone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position:absolute;
    top: 0;
    right: 10em;
}

#screen-wrap {
    margin: 1.2em auto 0 11.65em;
    width: 330px;
    height: 540px;
    border-radius: 5px;
    background-color: #22424B;
}

/* text message app  */

.text-message {
    color: white;
}

.text-from {
    color: lightgray;
}

#text-message-app-home, #contacts-app-home {
    height: 100%;
    width: 100%;
    background: #2E5458;
    overflow-y: scroll;
}

#text-message-app-wrap, #contacts-app-wrap {
    margin: 0em 0 0 -1em;
    padding: 0em 1em;
    width: 100%;
    height: 100%;
}



#text-message-app-wrap header, #contacts-app-wrap header {
    width: 100%;
    height: 10%;
    background-color: #7FA68C;
    margin:0 auto;
    padding: 0;
}

#home-messages-title, #contacts-title {
    color: white;
    float: left;
    padding-top: 1em;
    padding-left: 1em;
}

#text-home-back-btn, #contacts-back-btn {
    height:70%;
    width: 50px;
    color: white;
    text-align: center;
    padding-top:1em;
    background-color:#192B38;
}

#home-new-msg-btn, #new-contact-btn {
    height:70%;
    width: 50px;
    color: white;
    background-color: #7FA68C;
    text-align: center;
    padding-top:1em;
}

#quick-reply-arrow {
    height:70%;
    width: 50px;
    color: white;
    background-color: brown;
    text-align: center;
    padding-top:1em;
}

#text-message-app-wrap section {
    width: 100%;
    height: 90%;
    background-color: #2E5458;
	overflow-y: scroll;
}

.textMessageConvoBtn {
    background-color: #666;
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 1em;
    color: white;
}

.hide-this, .hide-this > p {
    display: none;
}

/* PHONE APPLICATION */

#icons-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1em;
    padding-left: 0;
}

ul {
    list-style-type: none;
}

li {
    margin: 4em 0;
    text-align: center;
    width: 100%;
}

#phone-icon {
    padding-left: 2em;
    padding-right: 2em;
}

.app-button {
    padding: 1em;
    background: #2D859E;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    font-size: 22px;
}

#phone-app-wrap {
    margin: -2px 0 0 -11px;
    padding: 1em 1em;
    width: 98%;
    height: 98%;
}

.phone-btn {
    width: 75%;
    height: 9%;
    background-color: #2D859E;
    text-align: center;
    border-radius: 4px;
    margin: 1em auto;
    padding-top: 1em;
    color: white;
}

form {
    margin: 0;
}

input {
    width: 100%;
    padding: 10px;
    padding-bottom: 4px;
    padding-top:2px;
}

button {
    display: block;
    margin-top: 5px;
    padding: 10px;
    background-color: #286090;
    border: 0;
    color: #fff;
    width: 100%;
}

h4 {
    margin: 0 auto;
    color: white;
}

input, textarea {
    margin-bottom: 1em;
}


table {
    color: white;
}

table td {
    color: white;
    padding: 1em 1em;
    margin: 0 1em;
}

table tr {
    padding: 1em 1em;
    color: white;
}

table tr:hover {
    background-color: #1b2c2d;
}

#new-contact-form {
    background: #429499;
    width: 100%;
    height: 100%;
    z-index: 555;
    display: none;
}

.phone-back-btn {
  background-color: #2D859E;
}

.color-me{
  background-color: #2D859E;
}

/*
#contacts-table-wrap {
    overflow-y: scroll;
}
*/

/* Resize for laptops / small displays */
@media screen and (max-width: 1500px) {
    #phone-wrap {
        top: -200;
    }
}
